# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Packages
node_modules

# Local trash
.DS_store
**/.DS_Store

# Rust
/test-ledger
/target
**/*.rs.bk
.anchor
