# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv
.env

# Keypairs
.config/*.json
!.config/example.*.json
dPro/*.json
dPro/*.json
!dPro/example.*.json
dAnti/*.json
!dAnti/example.*.json
dTest/*.json
!dTest/example.*.json
dVault/*.json
!dVault/example.*.json

# Packages
node_modules

# Local trash
.DS_store
**/.DS_Store

# Rust
/test-ledger
/target
**/*.rs.bk
.anchor